<section class="w-75 mx-auto bg-main-light p-4 my-3 rounded">
  <h1>LogIn New</h1>
  <form [formGroup]="loginform" (ngSubmit)="hndelLogin()">
    <div class="mb-2">
      <label for="email">Enter Your Email: </label>
      <input
        class="form-control"
        #inputEmail
        formControlName="email"
        id="email"
        type="email"
      />
      <div
        *ngIf="
          loginform.get('email')?.errors &&
          (loginform.get('email')?.touched || inputEmail.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="loginform.get('email')?.getError('required')">
          email is requard
        </p>
        <p *ngIf="loginform.get('email')?.getError('email')">email is failed</p>
      </div>
    </div>
    <div class="mb-2">
      <label for="password">Enter Your Password: </label>
      <input
        class="form-control"
        formControlName="password"
        #inputPassword
        id="password"
        type="password"
      />
      <div
        *ngIf="
          loginform.get('password')?.errors &&
            (loginform.get('password')?.touched ||
          inputPassword.value.length > 0)
        "
        class="alert alert-danger"
      >
        <p *ngIf="loginform.get('password')?.getError('required')">
          password is requard
        </p>
        <p *ngIf="loginform.get('password')?.getError('pattern')">
          password is failed
        </p>
      </div>
    </div>
    <button [disabled]="loginform.invalid" class="btn-main d-block ms-auto">
      <i *ngIf="isSpiner" class="fas fa-spin fa-spinner"></i>
      login new
    </button>
    <p *ngIf="massage" class="alert alert-danger">{{ massage }}</p>
  </form>
</section>
